.titolo{

    text-align: center;
}

.tbCodice{
    margin:2em;
}

.Card{
margin-top:2em;
max-width: 50em;
display: 'inline-block';
margin-right: auto;
margin-left:auto;
}

.navColor{
    background: #01579b;
    padding:2em;
}

.Logo{
    background-image: url(./img/eoc.png);
}

.LogoDesign{
 
display: 'inline-block';
margin-right: 1.5em;
margin-left:auto;
margin-top:2em;
}

.inviaButton{
    margin:1 em;
}
